// Font

$font--primary: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font--secondary: 'Roboto', sans-serif !default;
$base-font-size: 16px;

// colors
$background--primary: #0290b3;
$background--secondary: #edf3f7;
$background--tertiary: #ffffff;
$color: #404040;
$color--secondary: #8c8c8c;
$selection--color: #d6e0ee;
$outline-color: #555;